    table{
        margin-top: 2em;
        align-items: end;
        align-items: center;
    
    }
    tr{
        margin: 0px;
        padding: 0px;
    }
    td{
        border:1px solid black;
        margin:0px;
        padding: 0px;
        height: 100px;
        width: 100px;
        background-image: url(../assets/soil.jpg);
    }
